// Cluster parameters
process.executor               = 'pbs'
process.memory                 = '16G'
process.clusterOptions         = 'vmem=16G'
process.errorStrategy          = 'retry'
process.maxRetries             = 2
executor.queueSize             = 10

// Help the cluster find software and libraries (shouldn't even need the home directories below, but allows for easy version switching)
env.PATH              = "/wittelab/data1/software/anaconda2/bin:/wittelab/data1/software/bin/:/opt/gcc/gcc-4.8.1/bin:/bin:/usr/bin:/home/carioc/bin"
env.LD_LIBRARY_PATH   = "/wittelab/data1/software/lib:/wittelab/data1/software/lib64:/opt/gcc/gcc-4.8.1/lib/:/opt/gcc/gcc-4.8.1/lib64:/opt/lib"
env.PERL5LIB          = "/wittelab/data1/software/lib/perl5"


// Project info
params.username       = "carioc"
params.dataset        = "capture-2.1"
params.panel          = "/wittelab/data2/carioc/panels/mycroarray_submitted3.bed"


// File and directory info
params.home          = "/wittelab/data2/${params.username}/${params.dataset}/aligned"
params.excludes      = "/wittelab/data1/hg19/wgEncodeDukeMapabilityRegionsExcludable.bed"
params.refFlat       = "/wittelab/data1/hg19/refFlat.txt"
params.hg19          = "/wittelab/data1/hg19/ucsc.hg19.fasta"
params.output_dir    = "/wittelab/data2/${params.username}/${params.dataset}/coverage"

