// Cluster parameters
process.executor               = "pbs"
process.clusterOptions         = "-l vmem=32gb,mem=32gb,nodes=1:ppn=16"
process.errorStrategy          = 'retry'
process.maxRetries             = 2
executor.queueSize             = 10

// Help the cluster find software and libraries (shouldn't even need the home directories below, but allows for easy version switching)
env.PATH              = "/wittelab/data1/software/anaconda2/bin:/wittelab/data1/software/bin/:/opt/gcc/gcc-4.8.1/bin:/bin:/usr/bin:/home/carioc/bin"
env.LD_LIBRARY_PATH   = "/wittelab/data1/software/lib:/wittelab/data1/software/lib64:/opt/gcc/gcc-4.8.1/lib/:/opt/gcc/gcc-4.8.1/lib64:/opt/lib:/lib64:/lib"
env.PERL5LIB          = "/wittelab/data1/software/perl-5.26.2/lib"
env.SPEEDSEQ          = "/wittelab/data2/software/speedseq/bin/speedseq_hack"
env.SAMBAMBA          = "/wittelab/data2/software/speedseq/bin/sambamba"

// Project directory
params.username       = "carioc"
params.dataset        = "downsampled/tumor-normal" // Expects 'reads' folder containing symlinks to fastq.gz files


// Pattern Matchers
params.read_glob      = "*_R{1,2}*.fastq.gz"
params.patient_regex  = ~/(?i)-.*/ 
params.normal_regex   = ~/.*-(?:WB|\d{1})N/ 

// General
params.hg19_home      = "/wittelab/data1/hg19/"
params.hg19_reference = "/wittelab/data1/hg19/ucsc.hg19.fasta"

// Directory Locations 
params.home           = "/wittelab/data2/${params.username}/${params.dataset}/"
params.fastq_home     = "${params.home}/reads"
params.alignment_dir  = "${params.home}/aligned"
params.variant_dir    = "${params.home}/called"

// Variant Filter
params.variant_filter = "QUAL > 1 & QUAL / AO > 10 & SAF > 0 & SAR > 0 & RPR > 1 & RPL > 1"


