// Will combine sample reads from different lanes

// Cluster parameters
process.executor               = 'pbs'
process.clusterOptions         = '-l vmem=16G,mem=16G'
process.errorStrategy          = 'retry'
process.maxRetries             = 2
executor.queueSize             = 25

// Help the cluster find software and libraries (shouldn't even need the home directories below, but allows for easy version switching)
env.PATH              = "/wittelab/data1/software/anaconda2/bin:/wittelab/data1/software/bin/:/opt/gcc/gcc-4.8.1/bin:/bin:/usr/bin:/home/carioc/bin"
env.LD_LIBRARY_PATH   = "/wittelab/data1/software/lib:/wittelab/data1/software/lib64:/opt/gcc/gcc-4.8.1/lib/:/opt/gcc/gcc-4.8.1/lib64:/opt/lib"

// Project directory
params.fastq_home     = "/wittelab/data2/carioc/cfDNA-combined/to_do"
params.output_dir     = "/wittelab/data2/carioc/cfDNA-combined"
//
params.read_glob      = "*_L00*.fastq.gz"




