// Cluster parameters
process.executor               = 'pbs'
process.memory                 = '64G'
process.clusterOptions         = 'vmem=64G'
process.errorStrategy          = 'retry'
process.maxRetries             = 2
executor.queueSize             = 10

// Help the cluster find software and libraries (shouldn't even need the home directories below, but allows for easy version switching)
env.PATH              = "/wittelab/data1/software/anaconda2/bin:/wittelab/data1/software/bin/:/opt/gcc/gcc-4.8.1/bin:/bin:/usr/bin:/home/carioc/bin"
env.LD_LIBRARY_PATH   = "/wittelab/data1/software/lib:/wittelab/data1/software/lib64:/opt/gcc/gcc-4.8.1/lib/:/opt/gcc/gcc-4.8.1/lib64:/opt/lib"
env.PERL5LIB          = "/wittelab/data1/software/lib/perl5"


// Project directory
params.username       = "carioc"
params.dataset        = "capture-2.1" // "cfdna-downsampled" to test 
params.normal_dataset = "wgs-3.1"


//params.dataset        = "wgs-3.1"
params.home           = "/wittelab/data2/${params.username}/${params.dataset}/"
params.fastq_home     = "/wittelab/data2/${params.username}/${params.dataset}/reads/"
params.normal_dir     = "/wittelab/data2/${params.username}/${params.normal_dataset}/aligned/"


params.read_glob      = "*_R{1,2}*.fastq.gz"
params.patient_regex  = ~/(?i)-.*/ 
params.normal_regex   = ~/.*-.*N.*/ 


params.home           = "/wittelab/data2/${params.username}/${params.dataset}/"
params.fastq_home     = "/wittelab/data2/${params.username}/${params.dataset}/reads/"

// General
params.samtools_home  = "/wittelab/data1/software/bin/"
params.hg19_home      = "/wittelab/data1/hg19/"
params.gatk_home      = "/wittelab/data1/software/GATK/"

// Alignment parameters
params.alignment_dir  = "${params.home}/aligned"
params.hisat2_home    = "/wittelab/data1/software/hisat2-2.1.0/"
params.hg19_reference = "/wittelab/data1/hg19/ucsc.hg19.fasta"
params.hisat2_index   = "/wittelab/data1/hg19/ucsc.hg19"

// Connor parameters
params.connor_home  = "/wittelab/data1/software/bin/"
params.consensus_freq_threshold  = 0.6
params.min_family_size_threshold = 3
params.umt_distance_threshold    = 1


// Recalibration parameters
params.cleaned_dir    = "${params.home}/clean"
params.known_indels   = "/wittelab/data1/hg19/Mills_and_1000G_gold_standard.indels.hg19.sites.vcf"
params.dbsnps         = "/wittelab/data1/hg19/dbsnp_138.hg19.vcf"

// Dedupping parameters
params.picard_home    = "/wittelab/data1/software/GATK/"

// Variant calling parameters
params.variant_dir    = "${params.home}/called"
params.strelka_home   = "/wittelab/data1/software/bin"


params.freebayes_home = "/wittelab/data1/software/freebayes-1.0/bin/"
params.min_alternate_fraction    = 0.2     // Percent of families with an alternate allele. Defaults to 0.2
params.min_alternate_count       = 3       // # families needed to have a minor allele. Defaults to 2
params.common_variants = "/wittelab/hg19/common_all_20170403.vcf"

