// Cluster parameters
process.executor               = 'pbs'
//process.memory                 = '16G' // Same as requesting with cluterOptions
process.clusterOptions         = '-l vmem=32gb,mem=32gb'
process.errorStrategy          = 'retry'
process.maxRetries             = 2
executor.queueSize             = 10

// Help the cluster find software and libraries (shouldn't even need the home directories below, but allows for easy version switching)
env.PATH              = "/wittelab/data1/software/anaconda2/bin:/wittelab/data1/software/bin/:/opt/gcc/gcc-4.8.1/bin:/bin:/usr/bin:/home/carioc/bin"
env.LD_LIBRARY_PATH   = "/wittelab/data1/software/lib:/wittelab/data1/software/lib64:/opt/gcc/gcc-4.8.1/lib/:/opt/gcc/gcc-4.8.1/lib64:/opt/lib"
env.PERL5LIB          = "/wittelab/data1/software/perl-5.26.2/lib/"

// Project info
params.username       = "carioc"
params.dataset        = "test"  // Expects 'reads' folder containing symlinks to fastq.gz files

// Output directories
params.home           = "/wittelab/data2/${params.username}/${params.dataset}/"
params.fastq_home     = "${params.home}/reads"
params.alignment_dir  = "${params.home}/aligned"
params.merged_dir     = "${params.home}/merged"
params.cleaned_dir    = "${params.home}/cleaned"
params.variant_dir    = "${params.home}/called"

// Input parameters
params.read_glob      = "*_R{1,2}*.fastq.gz"
params.patient_regex  = ~/(?i)-.*/
params.normal_regex   = ~/.*-(?:WB|\d{1})N/


// General tool and hg19 locations
params.samtools_home  = "/wittelab/data1/software/bin/"
params.gatk_home      = "/wittelab/data1/software/GATK/"
params.hg19_home      = "/wittelab/data1/hg19/"

// Alignment parameters
params.hisat2_home    = "/wittelab/data1/software/hisat2-2.1.0/"
params.hg19_reference = "/wittelab/data1/hg19/ucsc.hg19.fasta"
params.hisat2_index   = "/wittelab/data1/hg19/ucsc.hg19"

// Recalibration parameters
params.known_indels   = "/wittelab/data1/hg19/Mills_and_1000G_gold_standard.indels.hg19.sites.vcf"
params.dbsnps         = "/wittelab/data1/hg19/dbsnp_138.hg19.vcf"

// Dedupping parameters
params.picard_home    = "/wittelab/data1/software/GATK/"

// Variant calling parameters
params.strelka_home   = "/wittelab/data1/software/bin"
params.mutect_home    = "/wittelab/data1/software/bin"


/*
params.freebayes_home = "/wittelab/data1/software/freebayes-1.0/bin/"
params.min_alternate_fraction    = 0.2     // Percent of families with an alternate allele. Defaults to 0.2
params.min_alternate_count       = 3       // # families needed to have a minor allele. Defaults to 2
*/

